body {
    font-family: "Monteserrat";
    padding: 80px 300px 0px 300px;
    margin:  20px 40px 0px 40px;
}

* {
    margin: 0px;
    padding: 0px;
}

/*--------General CSS--------*/
h1 {
    font-family: 'Lora';
    font-style: normal;
    font-size: 48px;
    font-weight: 500;
    padding: 2px;
}

h2 {
    font-size: 41px;
    font-weight: 600;
    padding: 2px;
}

h3 {
    font-size: 34px;
    font-weight: 600;
    padding: 2px;
}

h4 {
    font-family: 'Lora';
    font-size: 27px;
    font-weight: 300;
    padding: 2px;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    padding: 2px;
}

h6 {
    font-size: 14px;
    font-weight: 600;
    padding: 2px;
}
p{
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 29px;
}
/*--------------Header CSS-----------*/
header{
    display: grid;
    width: 100%;
    grid-template-columns:  50% 50%;
}
.body-project{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.employee-section{
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(2, auto);
    height: auto;
}
.employee{
}
.employee:nth-child(2), .employee:nth-child(5){
    margin-top: 80px;
}
.photo{
    height: 370px;
}
figure{
    display: flex;
}
figcaption{
    font-size: 18px;
    margin-top: 20px;
    height: 15px;
    margin-left: -5px;
    transform: rotate(90deg);

}
footer{
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}
@media only screen and (max-width: 1500px) {
    body {
        padding: 40px 200px 0px 200px;
        margin:  10px 20px 0px 20px;
    }
}
@media only screen and (max-width: 1200px) {
    body {
        padding: 20px 100px 0px 100px;
        margin:  7px 16px 0px 16px;
    }
}
@media only screen and (max-width: 1000px) {
    body {
        padding: 5px 10px 0px 10px;
        margin:  5px 2px 0px 2px;
    }
    .body-project{
        margin-top: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .employee-section{
        padding: 10px 20px 10px 20px;
        grid-template-columns: repeat(2, 48%);
    }
    .employee:nth-child(5){
        margin-top: 0px;
    }
    .employee:nth-child(2), .employee:nth-child(4), .employee:nth-child(6){
        margin-top: 80px;
    }
}